<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <listeners>
        <listener class-name="com.prestashop.tests.core.TestProgressListener"/>
        <listener class-name="com.prestashop.tests.core.TestExecutionListener"/>
    </listeners>
    <test name="Regression1"   >
        <packages>
            <package name="com.prestashop.tests.login" />
        </packages>
    </test>
</suite>
